.th-comparables {
  position: relative;

  .th-table {
    table-layout: fixed;

    tr {
      white-space: nowrap;
      min-width: 600px;
      border-bottom: 1px solid #d8dfe3;
    }

    td,
    th {
      padding: 8px 16px 8px 8px;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.2px;
      color: #37474f;
    }

    th {
      font-weight: 500;
    }
  }

  .th-property-self {
    background: #f0f2f4;
  }

  .th-map-container {
    position: relative;
    height: 420px;
    width: 100%;
  }

  .th-marker {
    width: 24px;
    height: 24px;

    text-align: center;
    border-radius: 50%;
    color: white;
    background: #6b87e9;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;

    &.th-self {
      background: #37474f;
    }
  }
}
