@import 'src/styles/variables/index';
@import 'src/styles/mixins/index';

.th-property-detail {
  padding-bottom: 60px;
  background: white;
  position: relative;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  address {
    margin: 0;
  }

  .th-records {
    .th-record {
      flex-direction: column;
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
  }

  .th-record {
    font-size: 14px;
    margin-bottom: 10px;

    &-title {
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.1px;
      color: #000000;
      margin-bottom: 2px;
    }

    &-value {
      font-weight: normal;
      letter-spacing: -0.2px;
      line-height: 1.29;
      color: #858585;
    }
  }

  .th-card {
    border-radius: 12px;
    margin-bottom: 24px;
    // box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 10px 30px;
    position: relative;

    .th-card-title {
      color: #000000;
      font-size: 14px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: -0.1px;
      padding-bottom: 10px;
    }
  }

  .th-mobile-card {
    padding-bottom: 16px;
    border-bottom: 1px solid #eeeeee;

    section {
      height: unset;
    }

    .th-view-types {
      background: black;
    }
  }

  .th-views-wrapper {
    position: relative;
    .th-view-types {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      bottom: 0;
      right: calc(20% + 20px);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .th-view-type {
        width: 100px;
      }
    }
  }

  .th-page-content {
    @include th-flex-row;
    justify-content: space-between;
  }

  .th-main-content {
    z-index: 10;
    width: 770px;
  }

  .th-right-content {
    margin-top: 20px;
    width: 370px;
    z-index: 2;
  }

  .th-top-section + .th-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  .th-map-image-section {
    padding: 8px 0;
    width: 100%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  :target {
    background: red;
    content: 'AAA';
    display: block;
    position: relative;
    height: 200px;
    top: -200px;
    // visibility: hidden;
  }

  &.th-break-xl {
    .th-main-content {
      width: 528px;
    }

    .th-right-content {
      width: 319px;
    }

    .th-card {
      padding: 10px 20px;

      .th-card-title {
        padding-bottom: 16px;
      }
    }
  }

  &.th-break-lg {
    .th-main-content {
      width: 100%;
    }

    .th-card {
      .th-card-title {
        padding-bottom: 10px;
      }
    }

    .th-views-wrapper {
      .th-view-types {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        .th-view-type {
          width: unset;
        }
      }
    }
  }

  &.th-break-sm {
    .th-card {
      border-radius: 0px;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 0px;
      padding: 10px 0px;
      border: none;
      border-radius: 0px;
    }
  }
}

.th-property-detail.th-page-mode {
  .th-overview-header {
    top: $search-bar-height;
  }

  .th-navs-bar {
    top: $search-bar-height + 140px;
  }

  &.th-break-sm {
    .th-overview-header {
      top: $header-height + $search-bar-height;
    }

    .th-navs-bar {
      top: $header-height + $search-bar-height + 160px;
    }
  }

  &.th-break-sm {
    .th-page-header {
      top: $header-height;
    }
  }
}

.th-scrolled-down {
  .th-property-detail.th-break-sm {
    .th-page-header {
      top: -$search-bar-height;
    }

    .th-overview-header {
      top: 0;
    }

    .th-navs-bar {
      top: 160px;
    }
  }
}
