.th-menu-item {
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  letter-spacing: -0.1px;
  margin: 3px;
  padding: 12px 20px 14px 20px;
  text-decoration: none;
  transition: all 0.1s;

  &:hover {
    color: #ffffff;
  }
}

.th-drop-menu:not(.th-drop-menu-mobile):hover .th-menu-item,
.th-drop-menu.th-drop-menu-mobile.th-expanded .th-menu-item,
.th-menu-item:hover {
  background-color: #6651f5;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
}

.th-drop-menu {
  position: relative;

  .th-drop-menu-content {
    left: 3px;
    transform: scale(0.8);
    visibility: hidden;
    transition: all 0.1s;
    position: absolute;
    top: 100%;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    min-width: 160px;
    margin: 0;
    padding: 8px 0px 15px 0px;
    list-style-type: none;
    z-index: 1;
  }

  &:not(.th-drop-menu-mobile):hover .th-drop-menu-content,
  &.th-drop-menu-mobile.th-expanded .th-drop-menu-content {
    transform: scale(1);
    visibility: visible;
  }

  .th-drop-menu-item {
    color: #858585;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.92;
    letter-spacing: -0.1px;
    padding: 0 20px;
  }

  .th-drop-menu-item:hover {
    background-color: #eeeeee;
    color: black;
    text-decoration: none;
  }

  .th-drop-menu-item.th-active {
    color: black;
    font-weight: bold;
  }
}
