@import 'src/styles/variables/index';

.th-request-info {
  position: relative;
  margin-bottom: 12px;
  .th-submit-button {
    background: $secondary;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    margin: 8px 0;
    padding: 0 16px;

    svg {
      width: 18px;
      height: 18px;
      margin-right: 4px;
    }
  }
}
