@import 'src/styles/variables/index';
@import 'src/styles/mixins/index';

.th-status {
  @include th-flex-row;
  color: #fff;
  line-height: 20px;
  height: 20px;

  .th-status-label {
    width: 87px;

    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.17px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }

  .th-updated {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 10px;
    font-weight: normal;
    letter-spacing: -0.08px;
    padding: 0 12px 0 28px;
    margin-left: -20px;
  }
}
