@import 'src/styles/variables/index';

.th-pitch-slider,
.th-bearing-slider {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  .th-slider-rail {
    color: #cecece;
  }

  .th-slider-track {
    color: #858585;
  }

  .th-slider-thumb {
    color: #595959;
  }
}

.th-bearing-slider-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .th-bearing-play-button {
    background: rgba(255, 255, 255, 0.95);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    font-size: 10px;
  }
}

.th-bearing-slider {
  width: 200px !important;
  padding: 0 15px;

  .th-slider {
    padding: 11px 0 !important;
  }
}

.th-pitch-slider {
  position: absolute;
  height: 200px !important;
  bottom: 140px;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  padding: 15px 0;

  .th-slider {
    padding: 0 11px !important;
  }
}

@media (max-width: $break-sm) {
  .th-bearing-slider-container {
    bottom: 65px;
  }

  .th-pitch-slider {
    left: 8px;
  }
}
